// ==============================
// Logo
// =============================

.logo-wrapper {
  .logo {
    font-size: 30px;
    font-family: $logo-font-family;
    line-height: 80px;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
